.footer {
  background: var(--primary-light);
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__item {
  padding: 4rem 0;
}

.footer__item > h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer__item-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer__item-links > a {
  padding: 5px 0;
}

.footer__copyright {
  background: var(--primary-dark);
  text-align: center;
  padding: 1rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary-light);
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
  .footer__item {
    text-align: center;
    padding: 1rem 0;
  }
  .footer__item-links {
    align-items: center;
  }
}
