@import url("https://fonts.googleapis.com/css2?family=Istok+Web&family=Martel:wght@300;400;700&family=Overlock:wght@400;700&display=swap");

:root {
  /* globals */
  --global-padding-lg: 10rem;
  --global-padding-sm: 3rem;
  --global-shadow: 0 2px 8px #888888;
  --global-radius: 5px;

  /* colors */
  --primary-dark: #ef7c8e;
  --primary-light: #fae8e0;
  --secondary-light: rgba(136, 136, 136, 0.1);
  --font-dark: #42312e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overlock", serif;
  font-weight: bold;
}

.globalPadding {
  padding: 1.2rem var(--global-padding-lg);
}

@media (max-width: 1000px) {
  .globalPadding {
    padding: 1rem var(--global-padding-sm);
  }
}
