@import url("https://fonts.googleapis.com/css2?family=Istok+Web&family=Martel:wght@300;400;700&family=Overlock:wght@400;700&display=swap");

:root {
  /* globals */
  --global-padding-lg: 10rem;
  --global-padding-sm: 3rem;
  --global-shadow: 0 2px 8px #888888;

  /* colors */
  --primary-dark: #ef7c8e;
  --primary-light: #fae8e0;
  --font-dark: #42312e;
}
